# February 02, 2026
## 1757. Recyclable and Low Fat Products

> ## SQL 

Table: Products


| Column Name | Type    |
| -------- | ------- |
| product_id  | int     |
| low_fats    | enum    |
| recyclable  | enum    |


- `product_id` is the primary key (column with unique values) for this table.
- `low_fats` is an ENUM (category) of type ('Y', 'N') where 'Y' means this product is low fat and 'N' means it is not.
- `recyclable` is an ENUM (category) of types ('Y', 'N') where 'Y' means this product is recyclable and 'N' means it is not.
 

Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

The result format is in the following example.

Example 1:

Input: 
Products table:
| product_id  | low_fats | recyclable |
| -------- | ------- | ------- |
| 0           | Y        | N          |
| 1           | Y        | Y          |
| 2           | N        | Y          |
| 3           | Y        | Y          |
| 4           | N        | N          |


Output: 

| product_id  |
| -------- | 
| 1           |
| 3           |

Explanation: Only products 1 and 3 are both low fat and recyclable.


#### Algorithm
- Select `product_id` from the `Products` table.
- Filter rows where:
    - `low_fats` = `'Y'` and
    - `recyclable = 'Y'
- Return the filtered result.

```sql
select * 
from product
where low_fats = 'Y' and
      recyclable = 'Y'

> ## Python

### Algorithm
- Filter the Products DataFrame to keep rows where low_fats == 'Y' and recyclable == 'Y'.
- Select only the product_id column from the filtered DataFrame.
- Return the result.

In [1]:
# Scheme

import pandas as pd
data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype({'product_id':'int64', 'low_fats':'category', 'recyclable':'category'})
products

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [9]:
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    df = products[(products.low_fats == 'Y') & (products.recyclable == 'Y')][['product_id']]
    return df

find_products(products)

   product_id
1           1
3           3

# February 03, 2026
## 584. Find Customer Referee

> ## SQL
### Table: Customer

| Column Name | Type    |
----------|-----------|
| id          | int     |
| name        | varchar |
| referee_id  | int     |

In SQL, `id` is the primary key column for this table.
Each row of this table indicates the id of a customer, their name, and the id of the customer who referred them.
 

Find the names of the customer that are either:

1. referred by any customer with `id != 2`.
2. not referred by any customer.
Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: 
Customer table:

| id | name | referee_id |
|----|------|------------|
| 1  | Will | null       |
| 2  | Jane | null       |
| 3  | Alex | 2          |
| 4  | Bill | null       |
| 5  | Zack | 1          |
| 6  | Mark | 2          |

Output: 

| name |
|------|
| Will |
| Jane |
| Bill |
| Zack |

### Algorithm
- filter the customers where the `referee_id` is `null`
- or filter the customers on `refree_id` is not 2
- select only the name column from table Customer


```sql
select name 
from Customer
where referee_id is null 
      or referee_id != 2
```

> ## Python

In [4]:
data = [[1, 'Will', None], [2, 'Jane', None], [3, 'Alex', 2], [4, 'Bill', None], [5, 'Zack', 1], [6, 'Mark', 2]]
customer = pd.DataFrame(data, columns=['id', 'name', 'referee_id']).astype({'id':'Int64', 'name':'object', 'referee_id':'Int64'})
customer

   id  name  referee_id
0   1  Will        <NA>
1   2  Jane        <NA>
2   3  Alex           2
3   4  Bill        <NA>
4   5  Zack           1
5   6  Mark           2

In [9]:
filtered_df = customer[(customer.referee_id!=2)|(customer.referee_id.isna())]
filtered_df[['name']]

   name
0  Will
1  Jane
3  Bill
4  Zack