### February 02, 2026

# SQL 50
## 1757. Recyclable and Low Fat Products

> # SQL 

Table: Products


| Column Name | Type    |
| -------- | ------- |
| product_id  | int     |
| low_fats    | enum    |
| recyclable  | enum    |


- `product_id` is the primary key (column with unique values) for this table.
- `low_fats` is an ENUM (category) of type ('Y', 'N') where 'Y' means this product is low fat and 'N' means it is not.
- `recyclable` is an ENUM (category) of types ('Y', 'N') where 'Y' means this product is recyclable and 'N' means it is not.
 

Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

The result format is in the following example.

Example 1:

Input: 
Products table:
| product_id  | low_fats | recyclable |
| -------- | ------- | ------- |
| 0           | Y        | N          |
| 1           | Y        | Y          |
| 2           | N        | Y          |
| 3           | Y        | Y          |
| 4           | N        | N          |


Output: 

| product_id  |
| -------- | 
| 1           |
| 3           |

Explanation: Only products 1 and 3 are both low fat and recyclable.


#### Algorithm
- Select `product_id` from the `Products` table.
- Filter rows where:
    - `low_fats` = `'Y'` and
    - `recyclable = 'Y'
- Return the filtered result.

```sql
select * 
from product
where low_fats = 'Y' and
      recyclable = 'Y'

> # Python

### Algorithm
- Filter the Products DataFrame to keep rows where low_fats == 'Y' and recyclable == 'Y'.
Select only the product_id column from the filtered DataFrame.
Return the result.

In [4]:
# Scheme

import pandas as pd
data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype({'product_id':'int64', 'low_fats':'category', 'recyclable':'category'})
products

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [9]:
def find_products(products: pd.DataFrame) -> pd.DataFrame:
    df = products[(products.low_fats == 'Y') & (products.recyclable == 'Y')][['product_id']]
    return df

find_products(products)

   product_id
1           1
3           3